*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    /* font-family: 'Big Shoulders Stencil Text', cursive; */
    font-family: 'Oswald', sans-serif;
    color: #fff;
    height: 100vh;
    box-sizing: border-box;
}

.content-holder{
    display: table;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.cotent-inner{
    display: table-cell;
    vertical-align: middle;
}

.content{
    text-align: center;
}

.content h4{
    font-size: 4em;
    text-transform: uppercase;
}

.content h1{
    font-size: 8em;
}

.branding{
    position: fixed;
    bottom: 0;
    left: 0;
    display: inline-block;
    background-color: #fff;
    color: #000;
    padding: 10px 15px;
}